{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{%  block head %}

{% endblock %}

{% block body %}
	<div class="container card p-3 rounded-3 shadow-sm my-5 m-auto w-50">
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Ask a question</legend>
				<form id="addpost" method="POST">
					{% csrf_token %}
					<div class="mb-3">
						{{ form|crispy }}
						{{ tags|crispy }}
					</div>
  				<button type="submit" class="btn btn-primary">Send</button>
				</form>
			</fieldset>

	</div>
{% endblock %}